<section class="home">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 1" href="javascript:void(0)" (click)="changeTab(1)">Image Upload & Crop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="activeTab === 2" href="javascript:void(0)" (click)="changeTab(2)">Image Upload & Multiple Crop</a>
      </li>
    </ul>
    <div class="tab-content pb-5 pt-2">
      <ng-container [ngSwitch]="activeTab">

        <ng-template [ngSwitchCase]="1">
          <div class="tab-pane active" id="profile" role="tabpanel">
            <div highlight="all" class="my-3">
            </div>
            <ngx-upload (onSelect)="onSelect($event)" (onReset)="reset()" [config]="{ crop: [ { ratio: 1.5, viewMode: 0 } ], quality: 0.8 , url: '/dummyUrl'}"></ngx-upload>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="2">
          <div class="tab-pane active" id="messages" role="tabpanel">
            <div highlight="all" class="my-3">
            </div>
            <ngx-upload (onSelect)="onSelect($event)" (onReset)="reset()" [config]="{ crop: [ { ratio: 1.5, viewMode: 0 }, { ratio: 1, viewMode: 0 }], url: '/dummyUrl'}"></ngx-upload>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>

</section>
